<h1>Pages#contact</h1>

<p><%= number_to_phone "09777888999" %></p>

<p><%= number_to_currency "150" %></p>

<p><%= number_to_percentage "75.5" %></p>

<p><%= number_with_delimiter "67665656588123" %></p>



